.App {
    text-align: center;
    font-family: 'Hubballi', cursive;
    font-family: 'League Gothic', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
img {
    width: 100%;
    display: flex;
    border-radius: 2%;
}
.displayInflex {
    display: inline-flex;
}
.card {
    height: 30rem;
    width: 20rem;
    margin: 1rem;
}
.pageClass-sm {
    margin: auto;
}
@media screen and (max-width: 540px) {
    .pageClass {
        margin-left: 15%;
    }
}
